---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro'; // <--- Nueva
import Creations from '../components/Creations.astro';
import Footer from '../components/Footer.astro'; // <--- Nueva
---

<Layout title="Loopstudios Landing Page">
  <main>
    <div class="relative">
      <Navbar />
      <Hero />
    </div>
    <About />
    <Creations />
  </main>
  <Footer />
</Layout>