<footer class="bg-black py-14">
  <div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-8">
    
    <div class="flex flex-col items-center md:items-start gap-6">
      <img src="/images/logo.svg" alt="Loopstudios" class="w-36" />
      <ul class="flex flex-col md:flex-row gap-4 md:gap-8 text-white font-alata text-center">
        <li class="relative group cursor-pointer">About<span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span></li>
        <li class="relative group cursor-pointer">Careers<span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span></li>
        <li class="relative group cursor-pointer">Events<span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span></li>
        <li class="relative group cursor-pointer">Products<span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span></li>
        <li class="relative group cursor-pointer">Support<span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span></li>
      </ul>
    </div>

    <div class="flex flex-col items-center md:items-end gap-6">
      <div class="flex gap-4">
        <a href="#" class="border-b-2 border-transparent hover:border-white pb-2 transition-all">
          <img src="/images/icon-facebook.svg" alt="Facebook" />
        </a>
        <a href="#" class="border-b-2 border-transparent hover:border-white pb-2 transition-all">
          <img src="/images/icon-twitter.svg" alt="Twitter" />
        </a>
        <a href="#" class="border-b-2 border-transparent hover:border-white pb-2 transition-all">
          <img src="/images/icon-pinterest.svg" alt="Pinterest" />
        </a>
        <a href="#" class="border-b-2 border-transparent hover:border-white pb-2 transition-all">
          <img src="/images/icon-instagram.svg" alt="Instagram" />
        </a>
      </div>
      <p class="text-gray-500 font-alata">© 2021 Loopstudios. All rights reserved.</p>
    </div>

  </div>
</footer>