<section class="relative h-screen min-h-[600px] w-full bg-cover bg-center bg-no-repeat 
  bg-[url('/images/mobile/image-hero.jpg')] md:bg-[url('/images/desktop/image-hero.jpg')]">
  
  <div class="absolute inset-0 bg-black/40 md:bg-transparent"></div>

  <div class="relative z-10 max-w-6xl mx-auto px-6 h-full flex items-center justify-center md:justify-start">
    <div class="border-2 border-white p-6 md:p-12 max-w-sm md:max-w-2xl">
      <h1 class="text-white text-[2.5rem] md:text-7xl font-light uppercase leading-[1.1] md:leading-tight font-josefin">
        Immersive <br class="md:hidden" /> experiences <br class="md:hidden" /> that deliver
      </h1>
    </div>
  </div>
</section>