<nav class="absolute top-0 left-0 w-full z-50 flex justify-between items-center px-6 py-10 md:px-32">
  <div class="z-50">
    <img src="/images/logo.svg" alt="Loopstudios Logo" class="w-32 md:w-48" />
  </div>

  <ul class="hidden md:flex gap-8 text-white font-alata">
    <li class="relative group cursor-pointer">
      About
      <span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span>
    </li>
    <li class="relative group cursor-pointer">
      Careers
      <span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span>
    </li>
    <li class="relative group cursor-pointer">
      Events
      <span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span>
    </li>
    <li class="relative group cursor-pointer">
      Products
      <span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span>
    </li>
    <li class="relative group cursor-pointer">
      Support
      <span class="absolute -bottom-2 left-1/2 w-0 h-[2px] bg-white transition-all group-hover:w-full group-hover:left-0"></span>
    </li>
  </ul>

  <button id="menu-btn" class="z-50 block md:hidden focus:outline-none">
    <img id="menu-icon" src="/images/icon-hamburger.svg" alt="Open Menu" />
  </button>

  <div id="mobile-menu" class="fixed inset-0 bg-black flex-col items-start justify-center pl-6 hidden md:hidden z-40 transition-all duration-300">
    <ul class="flex flex-col gap-6 text-white text-3xl uppercase font-light font-josefin">
      <li class="hover:text-gray-400 cursor-pointer">About</li>
      <li class="hover:text-gray-400 cursor-pointer">Careers</li>
      <li class="hover:text-gray-400 cursor-pointer">Events</li>
      <li class="hover:text-gray-400 cursor-pointer">Products</li>
      <li class="hover:text-gray-400 cursor-pointer">Support</li>
    </ul>
  </div>
</nav>

<script>
  const btn = document.getElementById('menu-btn');
  const menu = document.getElementById('mobile-menu');
  const icon = document.getElementById('menu-icon');

  btn?.addEventListener('click', () => {
    menu?.classList.toggle('hidden');
    menu?.classList.toggle('flex');
    
    // Cambiar el icono de hamburguesa a X
    if (menu?.classList.contains('flex')) {
      icon?.setAttribute('src', '/images/desktop/close.svg');
      document.body.style.overflow = 'hidden'; // Evita scroll al estar abierto
    } else {
      icon?.setAttribute('src', '/images/icon-hamburger.svg');
      document.body.style.overflow = 'auto';
    }
  });
</script>